:root {
  --color-main-body: hsl(210, 46%, 95%);
  --color-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --color-desaturated-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-main: #ffff;
  --fw-normal: 500;
  --fw-bold: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
li {
  list-style: none;
}
html {
  font-size: 62.5%;
  box-sizing: inherit;
}
body {
  background-color: var(--color-main-body);
  font-family: 'Manrope', sans-serif;
  overflow-x: hidden;
  line-height: 1.4;
  display: grid;
  place-items: center;
  height: 100vh;
}
button {
  border: none;
  background-color: none;
  border-radius: 50%;
  cursor: pointer;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
.container {
  max-width: 500px;
  margin: 0rem 2rem;
}
.container-information {
  background-color: var(--color-main);
}
.image__container {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 220px;
  width: 100%;
}
.container-information {
  padding: 3rem 3rem 0rem 3rem;
}
.content {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: white;
}

.container-information__title {
  color: var(--color-Dark-Grayish-Blue);
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  max-width: 600px;
}
.container-footer {
  display: flex;
  align-items: center;
  /* background-color: aquamarine; */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 2rem 4rem 2rem 4rem;
}

.container-information__lead {
  font-size: 1.3rem;
  color: #6e8098;
  max-width: 500px;
  margin: 10px 0;
  line-height: 20px;
}
.information-footer {
  display: flex;
  gap: 10px;
  align-items: center;
  /* display: none; */
}
.image__container-footer {
  width: 50px;
  border-radius: 50%;
}
.title__conatiner-footer {
  color: hsla(217, 19%, 35%, 1);
  font-size: 1.4rem;
}
.lead__container-footer {
  color: hsla(212, 23%, 69%, 1);
  font-size: 1.4rem;
  margin-top: 4px;
}
.icon-share {
  background: #ecf2f8;
  padding: 12px;
  border-radius: 50px;
  cursor: pointer;
}
.container__footer-icon {
  display: block;
  margin-left: auto;
}
.information-footer {
  margin-left: 2rem;
}
.conatiner__hidd {
  display: none;
}
.hidden {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-f ul {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: 3rem;
}
.icons-hiden li img {
  width: 28px;
}

.span-share {
  color: #9daec2;
  letter-spacing: 5px;
  font-size: 1.7rem;
}
.hide {
  display: none;
}
.img-svg path {
  fill: #6e8098;
}
.button-share-icon {
  padding: 15px;
}

@media (min-width: 773px) {
  html {
    font-size: 56.25%;
  }
  body {
    display: grid;
    place-items: center;
    height: 100vh;
  }

  .container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    max-width: 730px;
    margin: 0 auto;
  }
  .image__container {
    object-fit: cover;
    height: 100%;
  }

  .image__container {
    border-top-right-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .container-information {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    padding: 3.5rem 4rem 0rem 4rem;
    position: relative;
  }

  .image__container {
    width: 100%;
    height: 100%;
  }
  .container-information__title {
    font-size: 1.7rem;
    max-width: 389px;
  }
  .container-information__lead {
    font-size: 1.5rem;
    max-width: 466px;
  }
  .container {
    position: relative;
  }
  .content {
    /* position: relative; */
    border-bottom-left-radius: 0;
  }
  .container-footer {
    border-bottom-left-radius: 0;
  }

  .hidden {
    background-color: #48556a;
    padding: 1.5rem 3rem;
    border-radius: 10px;
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translate(50%, -50%);
  }
  .hidden::after {
    content: '';
    width: 20px;
    height: 20px;
    background-color:#48556a;
    z-index: 10000;
    position: absolute;
    top: 80%;
    left: 46%;
    transform: translate(50%, -50%);
    transform: rotate(-45deg);
  }
  .span-share {
    font-size: 1.5rem;
  }
  .icon-f ul {
    gap: 20px;
  }
  .icons-hiden li img {
    width: 20px;
  }
  .icon-f ul {
    margin-left: 1rem;
  }
}
