:root {
  --color-main-body: hsl(210, 46%, 95%);
  --color-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --color-desaturated-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-main: #ffff;
  --fw-normal: 500;
  --fw-bold: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
li {
  list-style: none;
}
html {
  font-size: 62.5%;
  box-sizing: inherit;
}
body {
  background-color: var(--color-main-body);
  font-family: 'Manrope', sans-serif;
  overflow-x: hidden;
  line-height: 1.4;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
button {
  border: none;
  background-color: none;
  border-radius: 50%;
  cursor: pointer;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.container {
  max-width: 900px;
  margin: 0rem 4rem;
}

.image__container {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 220px;
  width: 100%;
}
.container-information {
  padding: 3rem 3rem 0rem 3rem;
}
.content {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.container-information__title {
  color: var(--color-Dark-Grayish-Blue);
  font-size: 1.9rem;
  font-weight: var(--fw-bold);
  max-width: 380px;
}
.container-footer {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.container-information__lead {
  font-size: 1.5rem;
  color: #6e8098;
  max-width: 380px;
  line-height: 22px;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.information-footer {
  display: flex;
  gap: 10px;
  align-items: center;
}
.image__container-footer {
  width: 50px;
  border-radius: 50%;
}
.title__conatiner-footer {
  color: hsla(217, 19%, 35%, 1);
  font-size: 1.4rem;
}
.lead__container-footer {
  color: hsla(212, 23%, 69%, 1);
  font-size: 1.5rem;
}

.span-share {
  color: #9daec2;
  letter-spacing: 5px;
  font-size: 1.7rem;
}

.button-share-icon {
  padding: 9px 8px;
}
.container-footer {
  padding: 1rem 3rem 2rem 3rem;
}
.btn-share .button-share-icon .icon-button {
  display: block;
  margin-left: auto;
}

.icon-button {
  pointer-events: none;
}

.socials.show {
  display: flex;
  display: flex;
  align-items: center;
}

.information-footer.hide {
  visibility: hidden;
}

.socials {
  display: none;
}

.socials ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 1rem;
}

.social-title {
  color: #9daec2;
  letter-spacing: 4px;
  font-size: 1.6rem;
}
.btn-hide {
  display: none;
}
.button-share-icon {
  display: flex;
}

.content {
  background-color: #fff;
}
.image {
  background-image: url('./images/drawers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  background-position: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.container-footer {
  display: flex;
  align-items: center;
  position: relative;
}
.fa-share {
  cursor: pointer;
  color: #6e8098;
  font-size: 20px;
  background-color: #ecf2f8;

  text-align: right;
}
.btn-img {
  padding: 1rem;
  border-radius: 50%;
  /* font-size: 3rem; */
  width: 20px;
}
.btn-share {
  position: absolute;

  right: 0;
  margin-right: 20px;
}

.information {
  margin-left: 1rem;
}

.socials {
  background-color: #48556a;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 3rem 3rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 19999;

}
.socials .btn-share-el {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  top: 0;
}
.socials a {
  color: #fff;
  font-size: 20px;
  margin-right: 20px;
}

.btn-share-icon {
  background-image: url('./images/icon-share.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.btn-share-hide {
  background-image: url('./images/3.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  padding: 10px;
  background-color: #48556a;
  background-color: none;
  cursor: pointer;
  margin-right: 2rem;
}
.btn-share-icon.hide {
  display: none;
}
.span-share{
  padding-right: 20px;
 }

/* laptop */
@media (min-width: 773px) {
  html {
    font-size: 56.25%;
  }
  body {
    display: grid;
    place-items: center;
    height: 100vh;
  }

  .container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    max-width: 730px;
    margin: 0 auto;
    position: relative;
  }

  .container-information {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }

  .container-information__title {
    font-size: 2.2rem;
    max-width: 400px;
  }
  .container-information__lead {
    font-size: 1.5rem;
    max-width: 466px;
  }

  .content {
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    
  }
  .container-footer {
    border-bottom-left-radius: 0;
    position: none;
  }

  .socials {
    background-color: #48556a;
    position: absolute;
   
    max-width: 200px;
    top: -40%;
    left: 16rem;
    bottom: 100%;
    right: 5rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transform: translate(50%, -50%);
    visibility: hidden;
    display: flex;
    align-items: center;
    border-radius: 12px;
  }
  .socials.show {
    visibility: visible;
  }
  .socials::after {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #48556a;
    z-index: -1000;
    position: absolute;
    top: 75%;
    left: 48%;
    transform: rotate(-45deg);
  }
  .social-title {
    font-size: 1.5rem;
    letter-spacing: 6px;
    color: #9daec2;
  }
  .socials ul {
    gap: 20px;
  }
  .socials ul li img {
    width: 20px;
  }

  .socials ul {
    display: flex;
    align-items: center;
  }
 .span-share{
  
  padding-right: 20px;
 }
  .container-footer.show {
    background-color: #ffff;
  }
  .information-footer.hide {
    visibility: visible;
  }
  .content {
    background-color: #ffff;
  }

  .image {
    background-image: url('./images/drawers.jpg');
    background-size: cover;
    background-position: left center;
    height: 100%;
    border-top-right-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .container-footer {
    padding: 0rem 3rem 4rem 3rem;
  }
  .container-information {
    padding: 4rem 4rem 0 4rem;
  }
  .container-footer.show {
    padding: 0rem 3rem 4rem 3rem;
  }
  .btn-share-hide {
    display: none
  }
}
